 body {

 #bANNER.

 width: 100%.j

 Drincipal {

 BACK GROUND #ccccccc;

 PADDING: 30PX 0;

 Titulo Principal { 100

 PADDING

 Kulo-CENTRALI CADO £

 Text - Aligh: center;

 3

 P {

 Text-align:center; 17

Ja #missão (

 Font-Size 207xj

 }

as Cm Sinong {

 Color #FF0000 i

}

 lHens {

Jom styles Kalico i

 beneficios {

 PADDINS 20PX;

Display: wlive-block; 34 VERTICAL-ALIGAN TOP;

MARGIN- Rigth 15%

Image bANeficios { WIDTH: 50%;

                     }
